.container {
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  padding: 22px 22px 22px 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-width: 2px;
  border-color: black;
  box-shadow: 5px 5px 0px 0px #000;
  border-radius: 20px;
  align-items: center;
}

@media (max-width: 650px) {
  .container {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 90%;
    height: auto !important;
    padding: 0.7em;
  }

  .links {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    height: auto !important;
  }
  .link {
    margin: 0.1em !important;
  }

  .link.active {
    background-color: var(--ink-background-highlight);
    border: 1.5px dashed rgb(112, 112, 112);
  }

  .retracted.links {
  }

  .container.retracted {
    width: 90%;
    margin-left: 0 !important;
  }

  .logoRetract {
    display: flex !important;

    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .retract {
    margin: 0 !important;
    width: auto !important;
  }

  .container.retracted .links {
    display: none;
  }

  .custom_button {
    width: 100% !important;
  }

  .container.retracted:hover {
    height: auto !important;
  }

  .image.retracted {
    margin-right: 0px !important;
  }

  .container.retracted:hover .image.retracted {
    margin-right: 0px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.link {
  border: 1px solid rgb(169, 169, 169);
  width: 100%;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 2px 10px;
  padding-left: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: var(--ink-background-highlight);
  cursor: pointer;
}

.link.active {
  background-color: var(--ink-background-highlight);
  border: 1.5px dashed rgb(112, 112, 112);
}

.custom_button {
  position: relative;
  display: flex;
  width: max-content;
  align-items: center;
}

.custom_button .text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.custom_button div,
.custom_button span {
  font-size: 24px;
}

.unread {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ef635d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px !important;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 0px 0px 0px 2px #ef635d;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.retract {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  margin-top: -10px;
  margin-right: -20px;
}

.retract_button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 8px;
  margin-left: 10px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.1s;
}

.retract_button:hover {
  background-color: #ef635d;
}

.custom_button .text {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow-x: hidden;
  width: 100px;
  white-space: nowrap;
  text-align: start;
  color: rgb(29, 29, 29);
  font-weight: 450;
}
.custom_button .text.retracted {
  width: 0px;
}

.container {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 94vh;
}

.container.retracted {
  height: 15vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: -50px;
}

.container.retracted:hover {
  height: 48vh;
  margin-left: 30px;
}

.image {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  margin-bottom: 1.3rem;
}

.image {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image.retracted {
  margin-right: -40px;
}

.container.retracted:hover .image.retracted {
  margin-right: 0px;
}
