.container {
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  padding: 22px 22px 22px 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-width: 2px;
  border-color: black;
  box-shadow: 5px 5px 0px 0px #000;
  border-radius: 20px;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.link {
  border: 1px solid black;
  width: 100%;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 2px 10px;
  padding-left: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.link:hover {
  background-color: var(--ink-background-highlight);
  cursor: pointer;
}

.link.active {
  background-color: var(--ink-background-highlight);
}

.custom_button {
  display: flex;
  width: max-content;
}

.custom_button .text {
  margin-left: 10px;
  font-size: 24px;
}

.custom_button div,
.custom_button span {
  font-size: 24px;
}

.retract {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  margin-top: -10px;
  margin-right: -20px;
}

.retract_button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 8px;
  margin-left: 10px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.1s;
}

.retract_button:hover {
  background-color: #ef635d;
}

.custom_button .text {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow-x: hidden;
  width: 100px;
  white-space: nowrap;
  text-align: start;
}
.custom_button .text.retracted {
  width: 0px;
}

.container {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 94vh;
}

.container.retracted {
  height: 15vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: -50px;
}

.container.retracted:hover {
  height: 48vh;
  margin-left: 30px;
}

.image {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  margin-bottom: 1.3rem;
}

.image {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image.retracted {
  margin-right: -40px;
}

.container.retracted:hover .image.retracted {
  margin-right: 0px;
}
