/*
Please consider not using * operator cause even it is in a module affect all.
Att: chama
Para: daniel gomez
* {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
}
*/

.root {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  margin: 0;
  background-color: white;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 25px;
  max-width: 100%;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 5px 5px 0px 0px #000;
}

.root::-webkit-scrollbar {
  width: 10px;
}

.root::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.root h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  grid-gap: 20px;
}
