.container {
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 0px 0px #000;
    padding: 32px;
  }
  .title {
    margin-bottom: 1rem;
  }
  aside {
    position: relative;
  }
  
  aside > span {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
  }
  