.container {
  background-color: #ddfdfe;
  background-image: url("https://github.com/JDgomez2002/ing_soft_production/blob/main/ing-soft-production/src/img/background%20transparent.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 5px 5px 0px 0px #000;
}

.container h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.container h2 {
  font-family: 'Overpass Mono', monospace;
  font-size: x-large;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}