.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #e7e4e4;
  border-radius: 10px;
  overflow: hidden;

  border-width: 2px;
  border-color: black;
  box-shadow: 2px 2px 0px 0px #000;
  position: relative;
}

.title_wrapper {
  flex: 1;
}

.display_wrapper {
  flex: 10;
  max-height: 80%;
  background-color: var(--ink-background-chat);
}

.input_wrapper {
  flex: 0.9;
}

.title_wrapper,
.display_wrapper,
.input_wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background-color: white;
  padding: 0.4rem 1rem;
  font-size: 30px;
  border-bottom: 2px solid black;
  /*Cool box shadow*/
  box-shadow: 1px 0px 2px 2px #aca0a0;
}

.title_wrapper .participants {
  font-size: 17px;
  opacity: 0.9;
}

.input_wrapper {
  background-color: white;
  border-top: 2px solid black;
}

.display_wrapper .no_messages {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
}

.messages_wrapper {
  max-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.display_wrapper .no_messages .no_messages_text {
  padding: 1rem;
  background-color: var(--ink-background-messages);
}
