.container {
    border-radius: 5px;
    margin: 0;
    background-color: white;
    overflow: scroll;
    width: 100%;
    height: 100%;
    padding: 25px;
    max-width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 0px 0px #000;
  }
  
  .container::-webkit-scrollbar {
    width: 10px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .eventsContainer {
    margin-top: 20px;
    margin-bottom: 50px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    */
    grid-gap: 40px;
  }
  
  .flexContainer {
    display: flex;
    align-items: center;
  }
  
  .flexContainer h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
  }
  
  .search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .inputTags {
    color: #333;
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    font-size: medium;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
  }
  
  .dateFilter {
    display: flex;
    gap: 1em;
  }
  
  .tag {
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: #cdd57e;
    color: black;
    font-weight: semibold;
    margin: 4px;
    padding: 0px 5px;
    text-align: center;
    border-width: 1px;
    border-color: black;
  }
  
  .noEvents {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    text-align: center;
    font-size: 3.8rem;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
  }
  
  .currentPage {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
  }
  